# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
local-venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
*.md
!README.md

# Tests
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Временные файлы
*.tmp
*.bak
*.swp

