# Не копировать это в Docker контейнер

# Git
.git
.gitignore

# Python кэш
__pycache__/
*.pyc
venv/

# Django
*.log
db.sqlite3

# Docker файлы (они не нужны внутри)
Dockerfile
docker-compose.yml
nginx.conf
.dockerignore

# Документация
*.md

# IDE
.vscode/
.idea/
