{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Phantom</title>
    <link rel="icon" href="{% static 'img/phantom-final-logo.svg' %}" type="image/svg+xml">
    <link rel="shortcut icon" href="{% static 'img/phantom-final-logo.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block extra_styles %}{% endblock %}

    <script>
    const currentUsername = "{{ request.user.username|default:'guest' }}";
    </script>
    {% block name_page %}{% endblock %}
</head>
<body>
    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>



